* *,
::before,
::after {
	box-sizing: border-box;
}
:root {
    --clr-background: #2c2d31;
    --clr-text: #757575;
    --clr-health: #e44119;
    --clr-shield-one: #3588de;
    --clr-shield-two: #04ad9d;
    --clr-shield-three: #e9dd3b;

}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body{
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-background);
    height: 100%;
    width: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

nav {
    background-color: #202124;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 50px;
    overflow: hidden;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon {
    padding: 10px;
    cursor: pointer;
    color: white;
}

.settings {
    display: inline;
    font-size: large;
    margin-right: 10px; /* Added margin to the right */
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
}

.sign-in-button {
    background-color: #202124;
    border: 1px solid white;
    color: white;
    border-radius: 10px 40px 40px 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.postgame {
    display: none;
    /* display: flex; */
    z-index: 4;
    position: absolute;
    top: 300px;
    width: 100%;
    height: 70%;
    background-color: #56575c;
    color: white;
    border-top: 3px solid black;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    text-align: center; /* Centers the text of all child elements */
}

.postgame h2{
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.postgame h3{
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.postgame button {
    margin-top: 10px;
    align-items: center;
    appearance: none;
    background-color: #5865f2;
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
.pregame{
    z-index: 4;
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgba(44,45,49,0.8);
    padding-top: 50px;;
}

.pregame h1{
    z-index: 3;
    position: absolute;
    top: 150px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    font-size: 5rem;
}
.container{
    width: 375px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--clr-background);
    position: relative;
}
.enemy{
    width: 320px;
    margin: auto;
    padding-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.enemy__img{
    border-radius: 3%;
    border: 5px solid black;
}
.enemy__health{
    margin:auto;
    margin-top: 5px;
    display: flex;
    gap: 2px;
}
.enemy__heart{
    border: solid 5px black;
    border-radius: 50%;
    background-color: #fb7300;
    width: 2rem;
    height: 2rem;
}

.canvasContainer{
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.ministat {
width: 10px;
height: 70px; /* Set height to match the canvas height */
/* Default color */
background-color: var(--clr-shield-one);
position: absolute; /* Positioning absolute to place them next to the canvas */
}
.minishield1 {
    left: 347px; /* Align to the left of the canvasContainer */
}

.minishield2 {
    left: 17px; /* 5px to the right of the first ministat */
}

.minishield3 {
    left: 359px; /* 10px to the right of the first ministat, 5px to the right of the second */
}

.minihealth {
    background-color: var(--clr-health);
    left: 5px; /* Positioned after the last ministat */
}

.canvasContainer canvas{
    margin: auto;
    z-index: 1; /* Ensure the canvas is above the ministats in case of overlap */
    position: relative; /* Needed for z-index to work */
}
  

.player{
    margin:auto;
    margin-top: 10px;
    width:20rem;
    bottom:60px;
    left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.player__img{
    border: solid 7px black;
    border-radius: 50%;
    margin: auto;
    width:6.8rem;
    height:6.8rem;
}

.player__attributes{
    width: 144px;
    height: 144px;
}
.player__health{
    display: flex;
    position: relative;
    width:144px;
    margin-top: 2px;
    justify-content: center;
    gap:2px;
}

.player__heart{
    border: solid 4px black;
    border-radius: 50%;
    background-color: var(--clr-health);
    width: 2rem;
    height: 2rem;
}

.player__shield{
    display: flex;
    position: relative;
    gap:1px;
}


/* utils */
.rectangle {
    height: 70px;
    display: inline-block;
    background-color: #fb7300; /* Add a background color to the rectangles */
    position: absolute;
    
}

.shield{
    border: solid 5px black;
    border-radius: 15%;
    width: 47px;
    height: 47px;
}
.blue{
    background-color: var(--clr-shield-one);
}
.teal{
    background-color: var(--clr-shield-two);
}
.yellow{
    background-color: var(--clr-shield-three);
}

@keyframes pulseDamage {
    0%, 100% { background-color: gray; }
    50% { background-color: var(--clr-health); }
}
  
.pulseEffect {
    animation: pulseDamage 400ms 3; /* 400ms for each pulse, repeat 3 times */
}

@keyframes pulseDamageCanvas {
    0%, 100% { background-color: black; }
    50% { background-color: var(--clr-health); }
}
.pulseEffectCanvas {
    animation: pulseDamageCanvas 400ms 3; /* 400ms for each pulse, repeat 3 times */
}

@keyframes pulseDamagePlayer {
    0%, 100% { border: solid 7px black; }
    50% { border: solid 7px var(--clr-health); }
  }
  
  .pulseEffectPlayer {
    animation: pulseDamagePlayer 400ms 3; /* 400ms for each pulse, repeating 3 times */
  }
  

/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xlg */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */